.relics-familiar-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  background-image: url("https://img.pvme.io/images/HSATCDr.png");
  padding: 4px;
  border: 1px solid rgb(100, 100, 100, 0.5);
}

/* Mobile styling */

@media (max-width: 600px) {
  .preset-editor__card {
    width: 100vw;
  }

  .preset-map-container {
    display: flex;
    justify-content: center;
  }

  .preset-map {
    display: block;
    width: 183px;
  }

  .relics-familiar-container {
    max-width: 100vw;
    flex-direction: column;
  }
}