.breakdown-list-item > .MuiListItemSecondaryAction-root {
  position: relative;
  right: 0;
  margin-top: 6px;
  transform: none;
  top: 0;
}

.notes-field {
  width: 280px !important;
  border: 1px solid rgb(100, 100, 100) !important;
  border-radius: 0 !important;
}

.inner-notes-field {
  color: white !important;
  border-radius: 0 !important;
}
