.breakdown-list-item > .MuiListItemSecondaryAction-root {
  position: relative;
  right: 0;
  transform: none;
  top: 0;
}

.inner-notes-field {
  padding: 3px 8px;
  margin: 3px;
  color: white;
  border-radius: 3px;
  overflow-wrap: break-word;
  border: 1px solid rgb(100, 100, 100);
  min-height: 36px;
  line-height: 28px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  width: 330px;
}
