.notes-field {
  padding: 8px;
  padding-left: 12px;
  color: rgba(255, 255, 255);
  border-radius: 4px;
  overflow-wrap: break-word;
  border: 1px solid rgba(255, 255, 255, 0.23);
  min-height: 36px;
  line-height: 28px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
}

.notes-field:hover {
  border-color: white;
}

.notes-field:active,
.notes-field:focus {
  border-color: #90caf9;
  outline: 0px;
  cursor: text;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: rgba(255, 255, 255, 0.55);
}
