.preset-slots__slot {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  overflow:visible;

  border: 2px solid transparent;
  transition: border-color 120ms ease;

  pointer-events: auto;
}

.preset-slots__slot--filled {
  background: var(--preset-slot-bg) no-repeat center;
  background-size: cover;
}

.preset-slots__slot--inventory.preset-slots__slot--filled {
  background: none;
}

.preset-slots__slot:hover {
  border-color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.05);
}

.preset-slots__slot--selected {
  border-color: var(--accentColour);
}

.preset-slots__icon {
  pointer-events: none;
  max-height: 34px;
  max-width: 38px;
}

.inventory--mobile {
  margin-left: -3px;
}
