.header-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(26, 32, 39);
}

.header-bar__app-bar {
  max-width: 100%;
  background-color: #191d1d;
}

.header-bar__tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-bar__logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}

.header-bar__logo > img {
  cursor: pointer;
}

.header-bar__help-icon {
  margin-left: 10px;
}

.header-bar__help-icon:hover {
  color: #747bff;
}

.header-bar__json {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.header-bar__item {
  width: 500px !important;
}

.tool-bar > button {
  margin: 15px;
}

/* Mobile styling */

@media (max-width: 600px) {
  .tool-bar {
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .sub-item {
    font-size: 20px;
    width: fit-content !important;
  }

  .button-container {
    margin: 10px;
  }
}
