.input-group {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.autocomplete-field {
  width: 300px;
  background-color: #181818;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.autocomplete-field div {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.autocomplete-field label {
  color: white;
}

.load-preset-field {
  color: white;
  /* not sure why this fixes a ui error */
  height: 0px;
}
