.image-container > img {
  margin-right: 2px;
  flex-shrink: 0;
}

.item-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
}

.recent-items-title {
  text-align: center;
  margin: 10px 0 4px 0;
}

.recent-item-button {
  margin: 0 4px;
}

.recent-item-image {
  height: 32px !important;
  width: 32px !important;
  object-fit: contain !important;
}
