/* src/components/PresetActions/PresetActions.css */

.preset-export {
  margin-top: 20px;
  text-align: left;
  padding: 8px;
  color: rgba(255, 255, 255, 0.85);
}

.preset-export > legend {
  padding: 0 8px;
  font-weight: 600;
  font-size: 0.9rem;
}
