.help-dialog {
  /* TODO */
}

.help-dialog__heading {
  font-size: 1.1rem;
  font-weight: bold;
}

.help-dialog__body {
  margin: 6px;
}

.help-dialog__divider {
  margin: 10px 0;
}

.help-dialog__list {
  padding-left: 16px;
}
