.preset-and-actions {
  display: flex;
}

.preset-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.preset-section > div {
  margin: 10px;
}
