.preset-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.preset-section > div {
  margin-top: 10px;
}

.preset-section__sidebar {
  margin-left: 16px;
}

/* Mobile styling */

@media (max-width: 900px) {
  .preset-section__inner {
    flex-direction: column;
  }
}