.notes-field {
  font-size: 16px;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
  overflow-wrap: break-word !important;
}

.notes-field__placeholder {
  font-size: 16px !important;
}
