#root {
  width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App {
  width: 100%;
  margin-top: 64px;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.disc-emoji {
  width: 1.375em;
  height: 1.375em !important;
  object-fit: contain;
  vertical-align: middle;
}

/* Utility classes */

.width-50 {
  width: 50%;
}

.width-100 {
  width: 100%;
}

.d-flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-align-center {
  align-items: center;
}

.m-8 {
  margin: 8px;
}

.mh-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.mv-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.mt-8 {
  margin-top: 8px;
}

.mr-8 {
  margin-right: 8px;
}

.mt-auto {
  margin-top: auto;
}

.cursor-pointer:hover {
  cursor: pointer;
}

/* Mobile styling */

.mobile-only {
  display: none;
}

@media (max-width: 600px) {
  body {
    place-items: initial !important;
  }

  .App {
    margin-top: 60px;
  }

  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }

  .width-50 {
    width: 100%;
  }
}

@media (max-width: 400px) {
  .App {
    /* margin-top: 140px; */
  }
}

@media (max-width: 308px) {
  .App {
    /* margin-top: 180px; */
  }
}
