.breakdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}

.breakdown-header {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.breakdown-button {
  margin: 10px;
}

.breakdown-inner-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
  background-color: #181818;
}

.breakdown-inner-container div:hover {
  background-color: #181818;
}

.equipment-breakdown-container {
  width: 600px;
}

.breakdown-list {
  width: 100%;
  /* background-color: #181818; */
}

.empty-div {
  height: 48px;
}

.bold {
  font-weight: bold;
}
