.breakdown-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.other-container {
  display: flex;
  flex-direction: row;
  background-color: #181818;
}

.other-container div:hover {
  background-color: #181818;
}

.equipment-breakdown-container {
  width: 600px;
}

.breakdown-list {
  width: 100%;
  /* background-color: #181818; */
}

.empty-div {
  height: 48px;
}

.bold {
  font-weight: bold;
}

.breakdown-button {
  margin: 10px auto !important;
}
