.breakdown-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10px !important;
}

.breakdown-header {
  display: flex;
  justify-content: center;
  width: 95%;
  margin: 0 auto;
}

.breakdown-button {
  margin: 10px;
}

.breakdown-inner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 10px;
  background-color: #181818;
  padding: 10px;
}

.breakdown-inner-container div:hover {
  background-color: #181818;
}

.equipment-breakdown-container--equipment {
  width: 600px;
}

.equipment-breakdown-container--inventory {
  margin-right: 10px;
}

.equipment-breakdown-container--inventory > .equipment-breakdown-container--0 > .MuiList-root {
  padding-bottom: 0px;
}

.equipment-breakdown-container--inventory > .equipment-breakdown-container--1 > .MuiList-root {
  padding-top: 0px;
}

.breakdown-list {
  width: 100%;
}

/* Mobile styling */

@media (max-width: 800px) {
  .breakdown-container {
    width: 100vw;
    margin: 0;
    overflow: hidden;
  }

  .breakdown-inner-container {
    padding: 0;
  }

  .breakdown-list {
    width: 100vw;
  }

  .equipment-breakdown-container--equipment {
    max-width: 100%;
  }
}